<mat-expansion-panel expanded="True">
  <mat-expansion-panel-header>
    <mat-panel-title>Query Designer</mat-panel-title>
  </mat-expansion-panel-header>

  <app-selector
    (selectorChange)="selectorChanged($event)"
    [includeFields]="true"
    tab="chart"
  ></app-selector>
  <!-- <button mat-flat-button class="fButton" (click)="getData()">Get Data</button> -->
</mat-expansion-panel>

@if (displayChart) {
<div style="width: 100%; height: 500px">
  <ngx-charts-line-chart
    [results]="multi"
    [timeline]="timeline"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMin]="yScaleMin"
    [xAxisTickFormatting]="
      xTickStyle == 'hour'
        ? formatHour
        : xTickStyle == 'day'
        ? formatDay
        : formatFull
    "
  >
    <ng-template #tooltipTemplate let-model="model">
      <span class="tooltip-label">{{ toMyDate(model.name) }}</span>
      <span class="tooltip-val">{{ model.value + " " + displayField }}</span>
    </ng-template>
  </ngx-charts-line-chart>
</div>
@if(celsiusFields.includes(field)){
<mat-slide-toggle (change)="slide($event)" [checked]="showFahrenheit">
  Fahrenheit
</mat-slide-toggle>

} }
