<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Query Designer</mat-panel-title>
  </mat-expansion-panel-header>

  <app-selector (selectorChange)="selectorChanged($event)"></app-selector>
  <!-- <button mat-flat-button class="fButton" (click)="getData()">Get Data</button> -->
</mat-expansion-panel>

<ngx-charts-line-chart
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
>
  <ng-template #tooltipTemplate let-model="model">
    <span class="tooltip-label">{{ model.name.toLocaleString("en-US") }}</span>
    <span class="tooltip-val">{{ model.value }}</span>
  </ng-template>
</ngx-charts-line-chart>
