<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ status?.name }}</mat-card-title>
    <mat-card-subtitle>{{
      status?.description + ": " + umtToLocal(status?.umt)
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @for (measurement of measurements; track measurement){
    <div>{{ measurement.value }} {{ measurement.key }}</div>
    @if(status?.name == 'Climate' && measurement.key=="celsius") {
    <div>{{ toFahrenheit(measurement.value) }} Fahrenheit</div>
    } } @if(status?.name == 'Location') {
    <a
      href="https://www.google.com/maps/search/?api=1&query={{ latitude }}%2C{{
        longitude
      }}"
      target="_blank"
      >View on Map</a
    >

    }
  </mat-card-content>
</mat-card>
