<div class="grid-4">
  <div class="label">Application</div>
  <div>
    <mat-select
      [(ngModel)]="application_id"
      (selectionChange)="applicationSelected()"
    >
      @for (app of applications; track app) {
      <mat-option [value]="app.id">{{ app.name }}</mat-option>
      }
    </mat-select>
  </div>
  <div class="label">Devices</div>
  <div>
    <mat-select
      [(ngModel)]="device_id"
      (selectionChange)="tryEmitMeasurementQuery()"
    >
      @for (dev of devices; track dev) {
      <mat-option [value]="dev.id">{{ dev.name }}</mat-option>
      }
    </mat-select>
  </div>
  @if(includeFields){
  <div class="label">Measurements</div>
  <div>
    @if (fields) {
    <mat-select [(ngModel)]="field" (selectionChange)="fieldSelected()">
      @for (fieldName of fields; track fieldName) {
      <mat-option [value]="fieldName">{{ fieldName }}</mat-option>
      }
    </mat-select>
    }
  </div>
  }
  <div style="grid-column: 1" class="label">Start From</div>
  <div>
    <mat-select
      [(ngModel)]="duration"
      (selectionChange)="tryEmitMeasurementQuery()"
    >
      <mat-option [value]="7">3 hours ago</mat-option>
      <mat-option [value]="0">6 hours ago</mat-option>
      <mat-option [value]="1">24 Hours ago</mat-option>
      <mat-option [value]="6">Week ago</mat-option>
      <mat-option [value]="8">7 days ago</mat-option>
      <mat-option [value]="2">Start of this Week</mat-option>
      <mat-option [value]="9">30 days ago</mat-option>
      <mat-option [value]="3">Start of this Month</mat-option>
      <mat-option [value]="4">Start of this Quarter</mat-option>
      <mat-option [value]="5">Start of this Year</mat-option>
    </mat-select>
  </div>
  <div class="label">Summarize</div>
  <div>
    <mat-select [(ngModel)]="summarize" (selectionChange)="summarySelected()">
      <mat-option [value]="0">None</mat-option>
      <mat-option [value]="1">5 Minutes</mat-option>
      <mat-option [value]="2">15 Minutes</mat-option>
      <mat-option [value]="3">Hour</mat-option>
      <mat-option [value]="4">6 Hours</mat-option>
      <mat-option [value]="5">Daily</mat-option>
      <mat-option [value]="6">Weekly</mat-option>
      <mat-option [value]="7">Monthly</mat-option>
      <mat-option [value]="8">Quarterly</mat-option>
      <mat-option [value]="9">Yearly</mat-option>
    </mat-select>
  </div>
</div>
<div class="grid-2">
  <div style="grid-column: 2">
    <a href="{{ url }}">{{ url }}</a>
  </div>
</div>
